@mixin background-image($src) {
	background-image: url($src);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin position-center() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); 
}	

@mixin link-decoration() {
	text-decoration: none;
	color: #fff;
}

@mixin hover-effect() {
	&:hover,
	&:focus,
	&:active {
		border: 1px solid #fff;
		outline: none;
	}	
}

@mixin hover-link() {
	&:hover,
	&:focus,
	&:active {
		border-bottom: 2px solid #fff;
	}
}

@mixin section-main() {
	h1 {
		margin: 85px 0 30px;
		@media (min-width: 768px) {
			margin: 150px 350px 25px 50px;
		}	
	}
	.section__btn {
		width: 225px;
		padding: 13px;
		margin-bottom: 130px;
		border: 1px solid transparent;
		&:hover,
		&:focus,
		&:active {
			border: 1px solid #fff;
			outline: none;
		}
		@media (min-width: 768px) {
			margin: 6% 35% 20%;
		}	
	}
	.section__text {
		display: block;
		font-size: 16px;
		padding: 30px 25px 0 0;
		border-top: 1px solid #a1a1a1;
		@media (min-width: 768px) {
			width: 590px;
			padding: 60px 160px;
			margin: 0 7%;
			text-align: center;
			border-bottom: 1px solid #a1a1a1;
		}
	}
}
