@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

@font-face {
    font-family: 'MyriadPro';
    src: url("../fonts/MyriadPro-Regular.otf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTAstraSans-bold';
    src: url("../fonts/PTAstraSans-Bold.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTAstraSans-regular';
    src: url("../fonts/PTAstraSans-Regular.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}
